.displayTable{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.signUpForm{
    padding: 15px;
    max-width: 100%;
    background-color: rgb(49, 49, 49);
}

.displayTableCell{
    text-align: center;
    color: rgb(86, 221, 7);
    width: 40%;
    box-shadow: 0 0 0 5px rgb(86, 221, 7);
    border-radius: 5px;
    padding: 30px;
}

.signInItem{
    margin-bottom: 10px;
}

h3{
    font-size: 50px;
    margin: 0px;
}